<div class="card mb-8!">

    <div class="font-semibold text-lg md:text-xl mb-4">
        Recent Applications
    </div>

    <p-table
        [value]="applications()"
        [paginator]="true"
        [rows]="5"
        [responsiveLayout]="'scroll'"
    >

        <ng-template #header>
            <tr>
                <th>№</th>

                <th pSortableColumn="student">
                    Name
                    <p-sortIcon field="student" />
                </th>

                <th pSortableColumn="jobName">
                    Job
                    <p-sortIcon field="jobName" />
                </th>

                <th>Status</th>
            </tr>
        </ng-template>

        <ng-template #body let-application let-rowIndex="rowIndex">
            <tr>

                <td>
                    {{ rowIndex + 1 }}
                </td>

                <td>
                    <span class="font-medium">
                        {{ application.student }}
                    </span>
                </td>

                <td>
                    <span class="block max-w-45 truncate">
                        {{ application.jobName }}
                    </span>
                </td>

                <td>
                    <p-tag
                        [value]="application.status"
                        [severity]="getStatusSeverity(application.status)"
                    />
                </td>

            </tr>
        </ng-template>

    </p-table>

</div>
