<div class="card">

    <div class="flex justify-between items-center mb-5">
        <div class="font-semibold text-lg md:text-xl">
            Top Ranked Candidates
        </div>

        <div>
            <button
                pButton
                type="button"
                icon="pi pi-ellipsis-v"
                class="p-button-rounded p-button-text p-button-plain"
                (click)="menu.toggle($event)"
            ></button>

            <p-menu
                #menu
                [popup]="true"
                [model]="items"
            />
        </div>
    </div>

    <ul class="list-none w-full p-0 m-0">

        @for (candidate of candidates(); track candidate.id) {

            <li class="mb-5 last:mb-0">

                <!-- Candidate -->
                <div class="flex justify-between items-start gap-2">

                    <div class="min-w-0">

                        <span class="text-surface-900 dark:text-surface-0 font-medium block truncate">
                            {{ candidate.name }}
                        </span>

                        <div class="mt-1 text-muted-color text-sm truncate">
                            {{ candidate.email }}
                        </div>

                    </div>

                    <span
                        class="font-medium text-sm shrink-0"
                        [ngClass]="
                            getRankColor(candidate.rank).text
                        "
                    >
                        {{ candidate.score }}%
                    </span>

                </div>

                <!-- Score -->
                <div class="flex items-center gap-2 mt-2">

                    <div
                        class="rounded-border flex-1 overflow-hidden bg-surface-300 dark:bg-surface-500"
                        style="height: 7px"
                    >
                        <div
                            class="h-full"
                            [ngClass]="getRankColor(candidate.rank).bg"
                            [style.width.%]="candidate.score"
                        ></div>
                    </div>

                </div>

            </li>

        }

    </ul>

</div>
